body {
  max-width: 45em;
  vertical-align: middle;
  margin: auto;
  padding: 2em;
}

.info-container {
  vertical-align: left;
  padding-top: 0;
}

.profile-picture {
  vertical-align: right;
  float: right;
  max-height: 15.175em;
  padding: 1.5em 0em 0.5em 1em;
}

table {
  padding-left: 0.5em;
}

td {
  padding: 0 1em 0 1em;
}

a, a:link, a:visited, a:focus, a:active {
  color: green;
}
a:hover {
  color: #5B9853;
}
